D:/Dropbox/Visual filter=lfs diff=lfs merge=lfs -text
D:\Dropbox\Visual[[:space:]]Studio[[:space:]]Projects\Dank-Player-V3.0\Dank[[:space:]]Player[[:space:]]V3.0\bin\Debug\backgrounds filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
